<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
        PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
    <!-- Default page to serve -->
    <welcome-file-list>
        <welcome-file>StackOverflow.html</welcome-file>
    </welcome-file-list>

    <listener>
        <listener-class>org.stackoverflow.server.service.GraphDbService</listener-class>
    </listener>
    <!-- Servlets -->
    <servlet>
        <servlet-name>overflowService</servlet-name>
        <servlet-class>org.stackoverflow.server.service.OverflowServiceImpl</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>overflowService</servlet-name>
        <url-pattern>/StackOverflow/overflowService</url-pattern>
    </servlet-mapping>
</web-app>